
@model SLNClinica.Models.Medico

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h2>@Model.Apellido</h2>
    <p>Desea eliminar este medico de la DB?</p>

    @using (Html.BeginForm("Delete", "Medico", FormMethod.Post))
    {

        <div>
            <span>@Html.DisplayNameFor(model => model.Nombre)</span>
            <span>@Html.DisplayFor(model => model.Nombre)</span>
        </div>

        <div>
            <span>@Html.DisplayNameFor(model => model.Matricula)</span>
            <span>@Html.DisplayFor(model => model.Matricula)</span>
        </div>

        <input type="submit" action="Delete" />
        @Html.ActionLink("Volver", "Index", "Medico")
    }
</body>
</html>
