
@model IEnumerable<SLNClinica.Models.Medico>

@{
    ViewData["Title"] = "Index Clinica";
}

    @Html.ActionLink("Nuevo", "Create", "Medico")
    

    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.Matricula)</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Matricula)
                </td>
                <td>
                    @Html.ActionLink("Detalle", "Details", "Medico", new{id=item.Id})
                    @Html.ActionLink("Eliminar", "Delete", "Medico", new{id=item.Id})
                    @Html.ActionLink("Editar", "Edit", "Medico", new{id=item.Id})

                </td>
            </tr>

        }

    </table>

